@charset "UTF-8";


@font-face{
    font-family:'idroid.otf';
    src: url() format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    margin: auto;
    margin-bottom: 30px ;
    background-color: salmon;       
    padding: 20px;
    max-width: 1000px;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
header{
        background-image: linear-gradient(to bottom,rgb(65, 149, 90),rgb(65, 158, 90),rgb(65, 169, 90),rgb(65, 174, 90));
        text-align: center;
        min-height: 150px;
        padding-top: 40px;
        color: white;
        margin:0px;
}
header > h1{
    margin-bottom: 20px;
}
nav{
    text-align: left;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
    background-color: rgb(65, 174, 90);
    margin-top: 65px;
}
nav > a {
    text-decoration: none;
    color: brown;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.7s;
    border-radius: 5px;
}
nav > a:hover{
    text-decoration: underline;
    background-color: rgb(0, 65, 0);

}
h2{
    font-family: 'idroid.otf';
    text-align: left;
    background-image: linear-gradient(to right,rgb(0, 255, 21),transparent );
}
main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1.7em;
}
strong{
    color: greenyellow;
    font-weight: bold;
}
main img.menor{
min-width: 400px;
margin: auto;
display: block; 
}
header > p{
    text-align: center;
    margin-bottom: 30px;
}
footer > p{
    display: block ;
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-size: 0.8em;
    padding: 5px;
}
aside > ul {
    list-style-type:'\2714\00A0\00A0';
    list-style: inside;
    columns: 2;
}
main  a{
    color: greenyellow;
    text-decoration: none;
    background-color: rgba(11, 67, 151, 0.37);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
}
aside{
    background-color: rgb(140, 196, 140);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);
}
aside h3{
    background-color: green;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
a.externo::after{
    content: '\00A0\1F517';
}
div.video {
    background-color: green;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
picture{
    margin: 0px;
    padding: 0px;
}